$mdc-theme-primary: #303030;
$mdc-theme-secondary: #661fff;
$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;
$onPrimary: #fff;
$onSecondary: #fff;
$onSurface: #000;
$textPrimaryOnBackground: rgba(0, 0, 0, 0.87);
$textSecondaryOnBackground: rgba(0, 0, 0, 0.54);
$textHintOnBackground: rgba(0, 0, 0, 0.38);
$textDisabledOnBackground: rgba(0, 0, 0, 0.38);
$textIconOnBackground: rgba(0, 0, 0, 0.38);
$textPrimaryOnLight: rgba(0, 0, 0, 0.87);
$textSecondaryOnLight: rgba(0, 0, 0, 0.54);
$textHintOnLight: rgba(0, 0, 0, 0.38);
$textDisabledOnLight: rgba(0, 0, 0, 0.38);
$textIconOnLight: rgba(0, 0, 0, 0.38);
$textPrimaryOnDark: white;
$textSecondaryOnDark: rgba(255, 255, 255, 0.7);
$textHintOnDark: rgba(255, 255, 255, 0.5);
$textDisabledOnDark: rgba(255, 255, 255, 0.5);
$textIconOnDark: rgba(255, 255, 255, 0.5);
$mdc-typography-font-family: 'Roboto Condensed', sans-serif;
@import '@material/theme/mdc-theme';
@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/button/mdc-button';
@import '@material/elevation/mdc-elevation';
@import '@material/menu/mdc-menu';
@import '@material/list/mdc-list';
@import '@material/typography/mdc-typography';
html,
body {
  font-size: 20px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #fb9c2c, #fd2472);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$phone-max: 600px;
$tablet-max: 1200px;
$desktop-max: 1800px;
@mixin tablet-and-above {
  @media (min-width: #{$phone-max + 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$phone-max + 1px}) and (max-width: #{$tablet-max}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-max}) {
    @content;
  }
}

.song-list {
  margin: 1rem 12.5%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.75);
}
